In [2]:
import pandas as pd
import numpy as np

# from sklearn import 
from sklearn.preprocessing import OneHotEncoder, RobustScaler

In [3]:
df = pd.read_csv('penguins_lter.csv')

In [4]:
df.shape

(344, 17)

In [5]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [6]:
df_modified = df.drop( columns=['Region', 'Stage', 'Individual ID', 'Date Egg', 'Comments', 'studyName', 'Sample Number', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'])
df_modified.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.7,19.3,193.0,3450.0,FEMALE

In [7]:
df_modified.tail()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
339,Gentoo penguin (Pygoscelis papua),Biscoe,No,NaN,NaN,NaN,NaN,NaN
340,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.4,15.7,222.0,5750.0,MALE
342,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,49.9,16.1,213.0,5400.0,MALE

# Missing values

In [8]:
df_modified[ df_modified.isna().any(axis=1) ]

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,NaN,NaN,NaN,NaN,NaN
8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193.0,3475.0,NaN
9,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190.0,4250.0,NaN
10,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.1,186.0,3300.0,NaN
11,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,3700.0,NaN
47,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,2975.0,NaN
246,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.3,216.0,4100.0,NaN
286,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214.0,4650.0,NaN
324,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,13.8,216.0,4725.0,NaN
339,Gentoo penguin (Pygoscelis papua),Biscoe,No,NaN,NaN,NaN,NaN,NaN

In [9]:
print (df_modified.shape)
df_modified = df_modified.loc[ df_modified['Culmen Length (mm)'].notnull() ]
print (df_modified.shape)

(344, 8)
(342, 8)

In [10]:
print (df_modified.shape)
df_modified = df_modified.loc[ df_modified['Sex'].notnull() ].reset_index(drop=True)
print (df_modified.shape)

(342, 8)
(334, 8)

In [11]:
df_modified[ df_modified.isna().any(axis=1) ]

Empty DataFrame
Columns: [Species, Island, Clutch Completion, Culmen Length (mm), Culmen Depth (mm), Flipper Length (mm), Body Mass (g), Sex]
Index: []

# Categorical data encoding

In [12]:
df_modified.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.3,20.6,190.0,3650.0,MALE

In [13]:
df_modified["Clutch Completion"] = np.where(df_modified["Clutch Completion"] == "Yes", 1, 0)
df_modified.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.3,20.6,190.0,3650.0,MALE

In [14]:
df_modified["Sex"] = np.where(df_modified["Sex"] == "MALE", 1, 0)
df_modified.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.1,18.7,181.0,3750.0,1
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.5,17.4,186.0,3800.0,0
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,40.3,18.0,195.0,3250.0,0
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,36.7,19.3,193.0,3450.0,0
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.3,20.6,190.0,3650.0,1

In [15]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform( df_modified[ ['Species', 'Island' ] ] )
encoded_col = encoder.get_feature_names_out(['Species', 'Island' ])
print(encoded.shape)
print (encoded_col.shape)
# encoded_df = pd.DataFrame.from_records(encoded.toarray() )
encoded_df = pd.DataFrame(data=encoded.toarray(), columns=encoded_col.tolist())
encoded_df

(334, 6)
(6,)

,Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen
0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
329,0.0,0.0,1.0,1.0,0.0,0.0
330,0.0,0.0,1.0,1.0,0.0,0.0
331,0.0,0.0,1.0,1.0,0.0,0.0
332,0.0,0.0,1.0,1.0,0.0,0.0
333,0.0,0.0,1.0,1.0,0.0,0.0

In [16]:
df_modified = df_modified.join( encoded_df)
df_modified

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.1,18.7,181.0,3750.0,1,1.0,0.0,0.0,0.0,0.0,1.0
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.5,17.4,186.0,3800.0,0,1.0,0.0,0.0,0.0,0.0,1.0
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,40.3,18.0,195.0,3250.0,0,1.0,0.0,0.0,0.0,0.0,1.0
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,36.7,19.3,193.0,3450.0,0,1.0,0.0,0.0,0.0,0.0,1.0
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,1,39.3,20.6,190.0,3650.0,1,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Gentoo penguin (Pygoscelis papua),Biscoe,0,47.2,13.7,214.0,4925.0,0,0.0,0.0,1.0,1.0,0.0,0.0
330,Gentoo penguin (Pygoscelis papua),Biscoe,1,46.8,14.3,215.0,4850.0,0,0.0,0.0,1.0,1.0,0.0,0.0
331,Gentoo penguin (Pygoscelis papua),Biscoe,1,50.4,15.7,222.0,5750.0,1,0.0,0.0,1.0,1.0,0.0,0.0
332,Gentoo penguin (Pygoscelis papua),Biscoe,1,45.2,14.8,212.0,5200.0,0,0.0,0.0,1.0,1.0,0.0,0.0
333,Gentoo penguin (Pygoscelis papua),Biscoe,1,49.9,16.1,213.0,5400.0,1,0.0,0.0,1.0,1.0,0.0,0.0

In [17]:
df_modified = df_modified.drop(columns= ['Species', 'Island'])
df_modified

,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen
0,1,39.1,18.7,181.0,3750.0,1,1.0,0.0,0.0,0.0,0.0,1.0
1,1,39.5,17.4,186.0,3800.0,0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,40.3,18.0,195.0,3250.0,0,1.0,0.0,0.0,0.0,0.0,1.0
3,1,36.7,19.3,193.0,3450.0,0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,39.3,20.6,190.0,3650.0,1,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,47.2,13.7,214.0,4925.0,0,0.0,0.0,1.0,1.0,0.0,0.0
330,1,46.8,14.3,215.0,4850.0,0,0.0,0.0,1.0,1.0,0.0,0.0
331,1,50.4,15.7,222.0,5750.0,1,0.0,0.0,1.0,1.0,0.0,0.0
332,1,45.2,14.8,212.0,5200.0,0,0.0,0.0,1.0,1.0,0.0,0.0
333,1,49.9,16.1,213.0,5400.0,1,0.0,0.0,1.0,1.0,0.0,0.0

# Data normalization

In [18]:
data_transformer = RobustScaler()
df_normalized = df_modified.copy()
normalized_cols = data_transformer.fit_transform( df_normalized[ ['Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)'] ] )
df_normalized.loc[:, ['Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)'] ] = normalized_cols

In [19]:
df_normalized

,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen
0,1,-0.595041,0.451613,-0.695652,-0.241206,1,1.0,0.0,0.0,0.0,0.0,1.0
1,1,-0.550964,0.032258,-0.478261,-0.201005,0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,-0.462810,0.225806,-0.086957,-0.643216,0,1.0,0.0,0.0,0.0,0.0,1.0
3,1,-0.859504,0.645161,-0.173913,-0.482412,0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,-0.573003,1.064516,-0.304348,-0.321608,1,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,0.297521,-1.161290,0.739130,0.703518,0,0.0,0.0,1.0,1.0,0.0,0.0
330,1,0.253444,-0.967742,0.782609,0.643216,0,0.0,0.0,1.0,1.0,0.0,0.0
331,1,0.650138,-0.516129,1.086957,1.366834,1,0.0,0.0,1.0,1.0,0.0,0.0
332,1,0.077135,-0.806452,0.652174,0.924623,0,0.0,0.0,1.0,1.0,0.0,0.0
333,1,0.595041,-0.387097,0.695652,1.085427,1,0.0,0.0,1.0,1.0,0.0,0.0

# Training

In [30]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import xgboost as xgb

X_train, X_test, y_train, y_test = train_test_split(df_normalized[ df_normalized.columns.difference(['Sex']) ], df_normalized['Sex'], test_size=0.2, random_state=15)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print ('knn', knn.score(X_test, y_test) )

xgb_model = xgb.XGBRFClassifier()
xgb_model.fit(X_train, y_train)
print ('xbg', xgb_model.score(X_test, y_test) )

knn 0.9402985074626866
[09:27:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xbg 0.9552238805970149

C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df_modified[ df_modified.columns.difference(['Sex']) ], df_modified['Sex'], test_size=0.2, random_state=15)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print ('knn', knn.score(X_test, y_test) )

xgb_model = xgb.XGBRFClassifier()
xgb_model.fit(X_train, y_train)
print ('xbg', xgb_model.score(X_test, y_test) )

knn 0.8208955223880597
[09:27:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
xbg 0.9552238805970149

C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

# Cross-validation

In [45]:
from sklearn.model_selection import cross_val_score, KFold

kf = KFold(n_splits=5, random_state=15, shuffle=True)
knn = KNeighborsClassifier(n_neighbors=7)

accs = cross_val_score(estimator=knn, X=df_normalized[ df_normalized.columns.difference(['Sex']) ], y=df_normalized['Sex'], cv=kf)
print (accs)
acc = accs.mean()
print (acc)

[0.94029851 0.94029851 0.88059701 0.92537313 0.89393939]
0.9161013116236998

In [39]:
xgb_model = xgb.XGBRFClassifier(use_label_encoder=False)
accs = cross_val_score(estimator=xgb_model, X=df_normalized[ df_normalized.columns.difference(['Sex']) ], y=df_normalized['Sex'], cv=kf)
print (accs)
acc = accs.mean()
print (acc)

C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[09:45:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[09:45:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[09:45:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[09:45:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[09:45:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0.95522388 0.85074627 0.92537313 0.92537313 0.86363636]
0.9040705563093623

C:\Users\Robotux\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

# Hyperparameter-tuning

In [46]:
from sklearn.model_selection import GridSearchCV
parameters = {'weights' : ('uniform', 'distance'), 'n_neighbors':[3, 5, 7, 9]}

knn = KNeighborsClassifier()

clf = GridSearchCV(knn, parameters)
clf.fit(X=df_normalized[ df_normalized.columns.difference(['Sex']) ], y=df_normalized['Sex'])

# GridSearchCV(estimator=knn,
#              param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')})

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [3, 5, 7, 9],
                         'weights': ('uniform', 'distance')})

In [49]:
print (clf.best_params_ )
print (clf.best_score_)

{'n_neighbors': 3, 'weights': 'distance'}
0.8862053369516056

In [50]:
clf.cv_results_

{'mean_fit_time': array([0.00159993, 0.00100002, 0.00119967, 0.00119996, 0.00117168,
        0.00122547, 0.00107236, 0.00100007]),
 'std_fit_time': array([4.89609479e-04, 6.14361702e-07, 4.00090683e-04, 4.00185652e-04,
        4.26532946e-04, 3.90402484e-04, 1.45459283e-04, 3.87384339e-07]),
 'mean_score_time': array([0.00200028, 0.00120015, 0.00180006, 0.00103149, 0.00139985,
        0.00100002, 0.0015275 , 0.00099983]),
 'std_score_time': array([6.32560488e-04, 3.99852151e-04, 4.00066660e-04, 6.30148198e-05,
        4.89610385e-04, 3.23406696e-07, 6.76792927e-04, 2.86102295e-07]),
 'param_n_neighbors': masked_array(data=[3, 3, 5, 5, 7, 7, 9, 9],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance'],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 3, 'weights': 'uniform'},
  {'n_neighbors': 3, 'weights': 'distance'},
  {'n_neighbors': 5, 'weights': 'uniform'},
  {'n_neighbors': 5, 'weights': 'distance'},
  {'n_neighbors': 7, 'weights': 'uniform'},
  {'n_neighbors': 7, 'weights': 'distance'},
  {'n_neighbors': 9, 'weights': 'uniform'},
  {'n_neighbors': 9, 'weights': 'distance'}],
 'split0_test_score': array([0.88059701, 0.89552239, 0.8358209 , 0.86567164, 0.85074627,
        0.88059701, 0.8358209 , 0.85074627]),
 'split1_test_score': array([0.88059701, 0.88059701, 0.82089552, 0.82089552, 0.85074627,
        0.85074627, 0.86567164, 0.88059701]),
 'split2_test_score': array([0.86567164, 0.86567164, 0.86567164, 0.88059701, 0.86567164,
        0.86567164, 0.76119403, 0.82089552]),
 'split3_test_score': array([0.91044776, 0.91044776, 0.88059701, 0.88059701, 0.85074627,
        0.86567164, 0.86567164, 0.89552239]),
 'split4_test_score': array([0.87878788, 0.87878788, 0.87878788, 0.87878788, 0.87878788,
        0.87878788, 0.87878788, 0.87878788]),
 'mean_test_score': array([0.88322026, 0.88620534, 0.85635459, 0.86530981, 0.85933967,
        0.86829489, 0.84142922, 0.86530981]),
 'std_test_score': array([0.0147153 , 0.01537925, 0.02390286, 0.02289898, 0.01131253,
        0.01079965, 0.04252105, 0.02650616]),
 'rank_test_score': array([2, 1, 7, 4, 6, 3, 8, 4])}